<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href='@{/webjars/bootstrap/css/bootstrap.min.css}' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>Botflox Alltalks</title>
</head>
<body>
<nav th:replace="fragments/header :: header('botflox', ~{::li})">
    <li class="nav-item">
        <a href="#" th:href="@{/invite}" target="_blank" class="nav-link">Invite</a>
    </li>
</nav>
<!--<script src="/webjarsjs"></script>-->
<!--<script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>-->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>