@page
@model BotfloxWeb.Pages.About
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Botflox</h1>
    <p>Botflox Allboops is an open-source (under the MIT License) <a href="https://discord.com">Discord</a> bot for use by 
        <a href="https://na.finalfantasyxiv.com/">Final Fantasy XIV</a> communities. </p>
</div>