@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-page="./Invite">Invite Botflox Allboops</a> to your <a href="https://discord.com">Discord</a> server!</p>
    <p>
        To discuss Botflox Allboops, including requesting features, reporting bugs, or helping with development, join
        <a asp-page="./Discord">our Discord server</a>
    </p>
    <p>
        Botflox Allboops is licensed under the
        <a href="https://github.com/robotbrain/BotfloxSharp/blob/master/LICENSE">MIT License</a>.
        All the code underlying botflox is available at
        <a href="https://github.com/robotbrain/BotfloxSharp">our Github repo.</a>
    </p>
</div>